examples/basic-blinds.json
[{"id":"4fdef377a3337c4c","type":"dirigera","z":"d0a6ff9f.f47e9","name":"","server":null,"choiceType":"blinds","choiceRoom":null,"x":1500,"y":1000,"wires":[["6c181f118e89ab49"]]},{"id":"6c181f118e89ab49","type":"debug","z":"d0a6ff9f.f47e9","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1730,"y":1000,"wires":[]},{"id":"5361af97cdd2ae90","type":"inject","z":"d0a6ff9f.f47e9","name":"100% / close blind","props":[{"p":"payload"},{"p":"cmd","v":"blindsTargetLevel","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":1230,"y":960,"wires":[["4fdef377a3337c4c"]]},{"id":"d932791b817a16ba","type":"inject","z":"d0a6ff9f.f47e9","name":"0% / open blind","props":[{"p":"payload"},{"p":"cmd","v":"blindsTargetLevel","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":1220,"y":1020,"wires":[["4fdef377a3337c4c"]]}]